<div style="margin-top: 5%; justify-content: center; align-items: center;">
  <button class="btn btn-primary" (click)="AddEntity()">Add Entity</button>
  &nbsp;
  <button class="btn btn-success" (click)="openDialog()">Add Columns</button>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th *ngFor="let col of ListOfColums">{{ col.columnName }}</th>
    </tr>
  </thead>
</table>

<div *ngFor="let i of getNumberRange(NumberOfEntity); let a=index">
  <div>
    <table class="table table-bordered">
      <tbody>
        <tr *ngFor="let j of getNumberRange(NumberOfRowInEntity[i]); let b=index">
          <td *ngFor="let col of ListOfColums; let k = index">
            <input
              class="form-control"
              [type]="col.dataType"
              [id]="'id' + i + 'rowas' + j + 'columns' + k"
              placeholder="Enter the {{ col.columnName }}"
              [ngModel]="Data[a][b][k]?.value"
              (ngModelChange)="onDataChange($event, a, b, k)"
            />
          </td>
        </tr>

        <tr>
          <td>
            <button class="btn btn-primary" (click)="AddRow(i)">Add Row</button>
          </td>
        </tr>

        <tr>
          <td *ngFor="let col of ListOfColums; let k = index">
            Total:
            <input
              class="form-control"
              [type]="col.dataType"
              placeholder="Enter the {{ col.columnName }}"
              [ngModel]="Total[a][k]?.value"
              (ngModelChange)="onTotalChange($event, a, -1, k)"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th *ngFor="let col of ListOfColums; let k=index">
        Grand Total: -
        <input
          class="form-control"
          [type]="col.dataType"
          placeholder="Enter the {{ col.columnName }}"
          [ngModel]="GrandTotal[k]?.value"
          (ngModelChange)="onGrandChange($event, -1, k)"
        />
      </th>
    </tr>
  </thead>
</table>

<div>
  <button class="btn btn-success w-100" (click)="SaveData()">Save Data</button>
</div>
