header {
    background-color: #34495e;
    color: white;
    text-align: center;
  
    border-radius: 0 0 200px 200px; 
    transition: ease-in-out 300ms;
    box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.384);
    }
    
    header:hover {
      box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.384);
      background-color: #293b4a;
      transition: ease-in-out 300ms;
    }
  
    @media screen and (max-width: 768px) {
      header {
          font-size: 18px; 
        }
       
    }
        