/* Your component's CSS file */
.dialog-title {
    color: #2196f3; /* Material blue color */
  }
  
  .dialog-actions {
    justify-content: space-between;
  }
  
  .save-button {
    background-color: #4caf50; /* Material green color */
    color: #fff; /* White text */
  }
  